:root {
    --primary-color: #1565C0;
    --primary-color-rgb: 21 101 192;
    --secondary-color: #00897B;
    --body-color: #212121;
    --border-color: #e2e2e2;
    --icon-color: #aaaaaa;
    --placeholder-color: #CACACA;
    --global-font-size: 14px;
    --global-font: "Inter", sans-serif;
    --global-shadow: 0 4px 10px 1px rgba(180, 180, 180, 0.14);
    --sidebar-width: 280px;
    --header-height: 65px;
    --form-element-height: 40px;
    --main-bg: #F5F6F7
}

body {
    margin: 0;
    font-family: var(--global-font);
    font-size: var(--global-font-size);
}

.container {
    padding: 0 20px;
}

select:invalid,
input::placeholder {
  color: var(--placeholder-color);
}

select option {
    color: var(--body-color);
}

.nav-link {
    display: flex;
    align-items: center;
    gap: 0.75rem;
    padding: 0.75rem 1.25rem;
    border-radius: 100px;
    font-size: 16px;
    font-weight: 500;
    transition: all 0.2s ease-in;
}

.nav-link svg {
    color: var(--icon-color);
    transition: all 0.2s ease-in;
}

.nav-link:hover,
.nav-link:hover svg {
    color: var(--primary-color);
}

.nav-link.active,
.nav-link.active svg {
    color: white;
}
.nav-link:hover {
    background: rgb(var(--primary-color-rgb)/10%);
}
.nav-link.active {
    background: var(--primary-color);
}

input[type="range"] {
  accent-color: var(--primary-color);
}

.card::before,
.card::after {
    position: absolute;
    transition: all 0.4s ease-in;
}
.card::before {
    content: url('../images/graphics/Polygon\ 2.svg');
    left: 15px;
    top: 10px;
}
.card::after {
    content: url('../images/graphics/Polygon\ 1.svg');
    right: 10px;
    bottom: 0;
}
.card:hover::before {
    transform: rotate(20deg);
}
.card:hover::after {
    transform: rotate(-10deg);
}



th {
    font-weight: 600;
}
th, td {
    padding: 0.75rem 1rem;
    white-space: nowrap;
}
td {
    border-bottom: 1px solid var(--border-color);
}

.pagination a {
    border: 1px solid var(--border-color);
    min-width: 26px;
    height: 26px;
    border-radius: 4px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    transition: all 0.2s ease-in;
}
.pagination a.active {
    background: var(--primary-color);
    color: white;
    border-color: var(--primary-color);
}
.pagination a:not(.active, .disabled):hover {
    border-color: var(--primary-color);
    color: var(--primary-color);
}
.pagination a.disabled svg {
    opacity: 0.5;
}
